<!-- templates/add_data.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Employee Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/add">Add Employee Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/read">Read Employee Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/synergy">Synergy Graph</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2>Add Employee Data</h2>
        <form method="POST" action="/add" enctype="multipart/form-data">
            <div class="form-group">
                <label for="csv_file">Upload CSV File:</label>
                <input type="file" class="form-control" id="csv_file" name="csv_file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
